.service-search {
    max-width: 400px;
    margin: 0 auto; 
    position: relative;
  }
  
  .search-input {
    border-radius: 50px; 
    border: 1px solid #ddd; 
    padding: 10px 20px; 
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .search-input::placeholder {
    color: #aaa; /
  }
  
  .search-input:focus {
    border-color: #007bff; 
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2); 
    outline: none;
  }
  
 
  @keyframes search-focus {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }
  
  .search-input:focus {
    animation: search-focus 0.3s forwards;
  }
  

  